body {
  background-color: #c6c6c6;
  margin: 0px;
}

.wrap {
  background-color: white;
  width: 375px;
  height: 100vh;
  margin: 0 auto;

  display: flex;
  align-items: center;
}
p {
  margin: 0;
  padding: 0;
}

.instagram {
  width: 100%;
  height: 550px;
  /* border: 1px solid black; */

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 375px 1fr;
  grid-template-areas:
    "header"
    "img"
    "footer";

  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.header {
  grid-area: header;
  width: auto;
  height: auto;
  margin: 5px 10px;

  font-weight: bold;
}

.header-left {
  float: left;
  display: flex;
  align-items: center;
}

.header-img {
  border: 1px solid black;
  border-radius: 50%;
  margin-right: 10px;
  margin-bottom: 10px;
}

.text {
  margin-bottom: 10px;
  /* padding-bottom: 10px; */
  /* height: 100%; */
  /* vertical-align: middle; */
}
.header-right {
  float: right;
  height: 100%;
  display: flex;
  align-items: center;
}

.right-menu {
  cursor: pointer;
  user-select: none;
}

.img {
  clear: both;
  grid-area: img;
  width: 100%;
  height: 100%;
  /* margin-top: 10px; */
}

.footer {
  grid-area: footer;
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px auto auto;
  grid-template-areas:
    "top-left top-center top-right"
    "like like like"
    "comment comment comment";
}

.top-left {
  grid-area: top-left;
  display: flex;
  font-size: 10px;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}

.top-center {
  grid-area: top-center;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.top-right {
  grid-area: top-right;
  display: flex;
  font-size: 10px;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.like {
  grid-area: like;
  font-size: 12px;
  margin: 0 10px;
}

.comment {
  grid-area: comment;
  font-size: 10px;
  margin: 0 10px;
}

ul {
  padding: 0px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 50%;
}
li {
  width: 7px;
  height: 7px;
  background-color: lightgray;
  border-radius: 50%;
}
